.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #2F6F32;
}

h1 {
    color: #e5b423;
    font-size: 40px;
    text-shadow: 1px 1px 1px #55291c;
}

.line {
    border-bottom: #e5b423 2px solid;
    width: 200px;
}

#message-el {
    text-decoration: italic;
    /* color: #f2e8cf; */
    font-size: 20px;
    padding: 5px;
    /* text-shadow: 1px 1px 1px #010101; */
}

p {
    color: #010101;
    font-size: 15px;
    padding: 0;
    /* text-shadow: 1px 1px 1px #F6F6F7; */
}

button {
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #CC0000;
    color: #010101;
    border: none;
    /* text-shadow: 1px 1px 1px #010101; */
    width: 200px;
    margin: 10px;
}

button:hover {
    background-color: #d5f2e3;
}